@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;400;800&display=swap');
:root{
    --yellow: #FFE135;
    --dark_grey: #424b55;
    --light_grey: #53616f;
    --tuqoise: #6699CC;
}

* {
    padding: 0;
    margin: 0;
}

/* General Styles */

body {
    color: var(--yellow);
    background-color: var(--dark_grey);
    font-family: 'Martian Mono', monospace;
}

a {
    color: var(--yellow);
    text-decoration: none;
    font-size: 1.5em;
}

nav {
    background-color: #2f353c;
    margin-bottom: 3em;
    min-height: 50px;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 10px 10px var(--yellow));
}

.shoppingCart {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

svg {
    height: 35px;
    width: fit-content;
    align-content: right;
}

input[type = "button"], input[type = "submit"] {
    background-color: #FFE135;
    border: solid #FFE135 2px;
    min-height: 2em;
    color: #424b55;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-family: 'Martian Mono', monospace;
    font-weight: 200;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

input[type = "button"]:hover,  input[type = "submit"]:hover{
    transition: .2s linear;
    cursor: pointer;
    background-color: #00000000;
    color: #FFE135;
    border-radius: .2em ;
    font-weight: 400;
}
.hide {
    opacity: 0%;
    position: absolute;
    right: 0px;
    top: 47px;
    background-color: var(--dark_grey);
    padding: 1em;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    outline: var(--yellow);
    border-color: var(--yellow);
    color: var(--yellow);
    background: var(--yellow);
}

.hide:hover{
    opacity: 100%;
}

.shoppingCart:hover + .hide {
    display: block;
    opacity: 100%;
    transition: 1s;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Front Page Styles */
.searchForm{
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-row-gap: .5em;
}

.searchForm > input {
    grid-column: 1;
} 
.searchForm > label {
    grid-column: 2;
    color:  var(--tuqoise);
}

#searchBox > h4 {
    margin-bottom: 10px;
    margin-top: 15px;
}

#searchBox {
    min-width: 250px;
    max-width: 250px;
    height: fit-content;
    background-color: #ffffff00;
    position: fixed;
    left: 25px;
    top: 60px;
    padding: 5px;
}

.shirt-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    column-gap: 2em;
    row-gap: 2em;
    grid-column: 2;
}

.shirt-component {
    background-color: var(--light_grey);
    border: var(--yellow) 3px solid;
    border-radius: 1em;
    opacity: 80%;
}

.shirt-component > img {
    height: 14em;
    width: 14em;
    object-fit: contain;
    margin: 1em;
}

.shirt-component > form {
    display: grid;
    text-align: center;
}

.shirt-component > h3 {
    margin: .4em;
    font-size: 1.3em;
    font-weight: 800;
}
.shirt-component > div > h4 {
    font-size: 0.8em;
    font-weight: 100;
    color: var(--tuqoise);
}

.shirt-component > div {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
}

.shirt-component:hover {
    transition: .5s;
    scale: 1.03;
    filter: drop-shadow(0px 10px 10px var(--yellow));
    opacity: 100%;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Details Styles */

.details {
    display: grid;
    grid-template-columns: 1fr 3fr;

}

.details-text {
    grid-column: 2;
    grid-row: 1;
}

#design {
    height: 30em;
    width: 30em;
    object-fit: contain;
}

.description {
    color: var(--tuqoise);
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  background-color: #ffffff00;

  color: var(--tuqoise);
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid var(--yellow);
  border-radius: 50%;
  place-content: center;
  display: inline-flex;
  justify-content: center;
  transform: translateY(-0.075em);
  align-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--yellow);
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }